* {
  box-sizing: border-box; }

#mingling {
  position: relative;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  #mingling main {
    display: flex;
    background-color: pink;
    width: 85vw;
    height: 80vh; }
  #mingling nav span {
    position: absolute; }
  #mingling nav a {
    color: #000;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 2px solid #000; }
  #mingling nav .east {
    transform: rotate(90deg); }
  #mingling nav .west {
    transform: rotate(-90deg); }

.blanc {
  color: #fff; }
