body {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

h1 {
  margin: 0;
  line-height: 1em;
  letter-spacing: 0.4em;
  width: 60%;
  text-transform: uppercase;
  font-size: 8vw;
  color: slateblue;
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 12vw;
    width: 100%;
  }
}

main {
  align-items: center;
  flex-wrap: wrap;
  padding: 0 5vw;

  p {
    letter-spacing: 1px;
    text-align: justify;
    width: 40%;
  }
}

@media only screen and (max-width: 767px) {
  main p {
    width: 100%;
  }
}
